/* Kanban View */
.o_kanban_record{
    .o_kanban_inline_block {
        display: inline-block;
    }
}

.o_kanban_record, .o_view_controller{
    .o_mail_activity {
        .o_activity_btn {
            span.fa {
                overflow: visible;
                line-height: 1;
                vertical-align: middle;
            }
        }

        div.o_activity {
            min-width: 290px;
            padding: 0px 0px;

            .o_activity_log_container {
                max-height: 300px;
                overflow-y: auto;
            }

            ul.o_activity_log {
                color: $body-color;

                li {
                    .o_activity_title_entry {
                        max-width: 275px;
                        .o_activity_summary {
                            @include o-text-overflow;
                        }
                    }

                    .o_edit_button {
                        opacity: 0.5;
                    }

                    &:hover .o_edit_button{
                        opacity: 1;
                    }

                    .o_activity_link_kanban {
                        font-size: 1.5em;
                        @include o-hover-text-color($text-muted, map-get($theme-colors, 'success'));
                        @include o-hover-opacity(0.5, 1);
                    }

                    &.o_activity_selected {
                        border-bottom: 0;
                    }

                    &.o_activity_form > div {
                        padding-top: 0.5em;
                        padding-bottom: 0.7em;
                    }
                }
            }
        }
    }}

    .avatar-hover:hover {
        /* Thêm hiệu ứng hover ở đây */
        /* Ví dụ: thay đổi kích thước */
        transform: scale(1.1); /* để phóng to avatar khi rê chuột vào */
        transition: transform 0.3s ease; /* tạo hiệu ứng mềm mại */
    }

    .image-zoom-hover {
        /* Thiết lập kích thước ban đầu */
        transition: transform 0.9s;
    }
    
    // .image-zoom-hover:hover {
    //     /* Thêm hiệu ứng zoom */
    //     transform: scale(1.1);  
    //     // Nếu dùng scale thì ko xài đơn vị cho nó, nếu xài nó mất effect ban đầu
    // }

        /* Định nghĩa màu cho label có chức năng như button */
    .btn_color .label {
        background-color: #007bff; /* Màu nền */
        color: #ffffff; /* Màu chữ */
        padding: 5px 10px; /* Đặt padding để tạo ra khoảng cách xung quanh nút */
        border-radius: 4px; /* Làm tròn các góc của nút */
        cursor: pointer; /* Hiển thị con trỏ khi di chuột qua nút */
    }

    /* Định nghĩa hover state cho label */
    .btn_color label:hover {
        background-color: #0056b3; /* Màu nền khi di chuột qua */
    }

    // .image-click-zoom.clicked {
    //     transform: scale(2); /* Tăng kích thước lên 2 lần khi được click */
    //     position: fixed; /* Đảm bảo hình ảnh sẽ hiển thị trên cùng của trang */
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     margin: auto; /* Canh giữa hình ảnh */
    //     z-index: 9999; /* Đảm bảo hình ảnh hiển thị trên tất cả các phần tử khác */
    //     cursor: pointer; /* Chuyển đổi con trỏ thành mũi tên */
    // }